	
	<h1> Welcome to Rock Paper Scissors</h1>
	<h2> Click on your choice below to begin playing </h2>
	<div id="front-main">
		 <%= link_to image_tag("rock.jpg", alt: "Rails"), rps_url(:rock) %>
  	 	 <%= link_to image_tag("paper.png", alt: "Rails"), rps_url(:paper) %>
		 <%= link_to image_tag("scissors.jpg", alt: "Rails"), rps_url(:scissors) %>
	</div>
	