<h1> Dice Game </h1>
<h2> Here are the rules: </h2> 
<ul> 
	<li> If you roll a 7 or 11 on the first turn you win.</li> 
	<li> If you roll a 2, 3, or 12 on the first turn you lose. </li> 
		<li> Otherwise, you want to roll the same score you had on the 
		first turn before you get a 7. If you roll a 7 first
		you lose. </li> 
</ul> 
Click Here to start!
<%= link_to "Roll Dice", first_roll_url %>
